<div data-ng-init="init()" class="btn-group" dropdown is-open="status.isopen">
 <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
  {{currentUser.firstName}} {{currentUser.lastName}} <span class="caret"></span>>
 </button>
 <ul class="dropdown-menu" role="menu">
  <li><a href="#book">{{'BOOK_COLLECTION' | translate}}</a></li>
    <li><a href="#picture">{{'PROBA' | translate}}</a></li>
  <li class="divider"></li>
  <li><a href="#user">{{'HOME_PROFILE' | translate}}</a></li>
  <li><a href="/logout">{{'LOGOUT' | translate}}</a></li>
 </ul>
</div>