<p class="text-right">
	<a type="submit" class="btn btn-primary" href="#login">Sign in</a> <a type="submit" href="#register"
		class="btn btn-warning" href="#register">Register</a>
</p>
<h3 align="center" class="text-muted">Log everything at one place</h3>
<p font-size="18px">Books, vinyls and compact disks! From now on make a catalog of all your important stuff at one
	place and access it anywhere in the world! Easy to use, friendly user interface, secure and responsive deign. All you
	need!</p>
<div style="margin-top: 30px">
	<div align="center">
		<carousel interval="myInterval"> <slide data-ng-repeat="slide in slides" active="slide.active"> <img
			data-ng-src="{{slide.image}}" style="margin: auto;"> </slide> </carousel>
	</div>
</div>
<div style="margin-top: 30px">
	<h4 class="text-muted"><strong>This project is dedicated to Jorge Luis Borges</strong></h4>
	<p class="bg-info">Jorge Francisco Isidoro Luis Borges was an Argentine short-story writer, essayist, poet and translator, and a key figure in
		the Spanish language literature. His work embraces the "character of unreality in all literature". His best-known
		books, Ficciones (Fictions) and The Aleph (El Aleph), published in the 1940s, are compilations of short stories
		interconnected by common themes, including dreams, labyrinths, libraries, mirrors, fictional writers, philosophy, and
		religion. Borges's works have contributed to philosophical literature and also to the fantasy genre. Critic Ángel
		Flores, the first to use the term magical realism to define a genre that reacted against the dominant realism and
		naturalism of the 19th century, considers the beginning of the movement to be the release of Borges's A Universal
		History of Infamy (Historia universal de la infamia). However, some critics would consider Borges to be a
		predecessor and not actually a magical realist. His late poems dialogue with such cultural figures as Spinoza, Camões,
		and Virgil.
		<br>
		<br>
		</p>
		<p>
		In 1955, he was nominated to the directorship of the National Library. By the late 1950s, he had become completely blind.
		</p>
</div>
<div style="margin-top: 30px">
	<div class="row">
		<div class="col-lg-4">
			<img src="/public/devices.png" class="img-responsive" alt="Responsive image"> <br>
			<h4 class="text-muted">
				<strong>On your smart phone</strong>
			</h4>
			<p class="bg-danger">Collections will soon be available on your smartphone. Our developers are working full time and we expect that
				beta version will bi out of production next week!</p>

		</div>
		<div class="col-lg-4">
			<img src="/public/plans.jpg" class="img-responsive" alt="Responsive image">
			<h4 class="text-muted">
				<strong>Plans for the future</strong>
			</h4>
			<p class="bg-success">We plan to develop solution for general purpose cataloguing project. That meens that not only books, vinyls
				and compact discs will be available but new categories will be user adable. For exaple cars, guns, swords and etc.
				Mecca for hoarders! :)</p>
		</div>
		<div class="col-lg-4">
			<img src="/public/job.jpg" class="img-responsive" alt="Responsive image">
			<h4 class="text-muted">
				<strong>We are hiring</strong>
			</h4>
			<p class="bg-warning">If you are a web developer with 1+ year(s) of experience in Java, JavaScript, Srping and AngularJS feel free
				to contact us and we will make an interview appointment as soon as possible.</p>
			<p>
				<a class="btn btn-default" href="mailto:papuga.yu@gmail.com" role="button">Contact us! &raquo;</a>
			</p>
		</div>
	</div>
</div>

