<br>
<div class="container">
    <form class="form-horizontal" role="form">
    <alert ng-repeat="alert in alerts" type="alert.type"> {{alert.message}} </alert>
        <form-row model="user.email" name="EMAIL" size="col-sm-8"></form-row>
        <form-row model="user.currentPassword" name="PASSWORD" size="col-sm-8" type="password"></form-row>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" data-ng-click="login(user)">{{'SIGN_IN' |
                    translate}}</button>
            </div>
        </div>
    </form>
</div>