<div class="container">
    <form class="form-horizontal" role="form">
        <form-row model="user.email" name="EMAIL" size="col-sm-8" type="email"></form-row>
        <form-row model="user.firstName" name="FIRST_NAME" size="col-sm-8"></form-row>
        <form-row model="user.lastName" name="LAST_NAME" size="col-sm-8"></form-row>
        <form-row model="user.currentPassword" name="PASSWORD" size="col-sm-8" type="password"></form-row>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" data-ng-click="register(user)">{{'REGISTER' |
                    translate}}</button>
            </div>
        </div>
    </form>
</div>