<div class="masthead">
	<div align="right" data-ng-include="'view/dropDownUserMenu.html'"></div>
	<br> <br>
</div>
<div class="row">
	<div class="col-lg-4">
		<p>
			<img src="{{currentUser.avatar}}" height="300" width="200" /> <br> <br> <strong>First name:</strong>
			{{currentUser.firstName}} <br> <strong>Last name:</strong> {{currentUser.lastName}} <br> <strong>Country:</strong>
			{{currentUser.country}} <br> <strong>City:</strong> {{currentUser.city}}
		</p>
	</div>
	<div class="col-lg-8">
		<h4>
			<strong>About:</strong>
		</h4>
		<p>{{currentUser.about}}</p>
		<br>
		<accordion close-others=true> <accordion-group heading="Edit profile" is-open="profileEditStatus.open"
			class="myPointerHand">
		<div>
			<div>
				<form class="form-horizontal" role="form">
					<form-row model="currentUser.firstName" name="First name:" size="col-sm-8" callback="save()"></form-row>
					<form-row model="currentUser.lastName" name="Last name:" size="col-sm-8" callback="save()"></form-row>
					<form-row model="currentUser.city" name="City:" size="col-sm-8" callback="save()"></form-row>
					<form-row model="currentUser.country" name="Country:" size="col-sm-8" callback="save()"></form-row>
					<form-text-area model="currentUser.about" name="About:" size="col-sm-8" callback="save()"></form-text-area>
					<form-file-upload fileread="currentUser.avatar" size="col-sm-8" name="Avatar photo:"></form-file-upload>
					<alert ng-repeat="alert in alerts" close="closeAlert($index)" type="alert.type">{{alert.message}}</alert>
				</form>
			</div>
		</div>
		</accordion-group>
		<accordion-group heading="Change password" is-open="changePasswordStatus.open" class="myPointerHand">
		<div>
			<div>
				<form class="form-horizontal" role="form">
					<form-row model="password.newPassword" name="New: " size="col-sm-8" type="password"></form-row>
					<form-row model="password.repeatedNewPassword" name="Repeat: " size="col-sm-8" type="password"></form-row>
					<form-row model="password.currentPassword" name="Current: " size="col-sm-8" type="password"></form-row>
					<br>
				</form>
			</div>
			<div>
				<button class="btn btn-default btn-sm" data-ng-click="changePassword()">Save</button>
				<button class="btn btn-warning btn-sm" ng-click="changePasswordStatus.open = !changePasswordStatus.open">Cancel</button>
			</div>
		</div>
		</accordion-group> </accordion>
	</div>
</div>